@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #1e40af;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1e3a8a;
  --color-secondary: #0f172a;
  --color-accent: #f59e0b;
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f9;
}
